{% extends "layout.html" %}
{%block  body%}
        <h1 class="title">Create Account</h1>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <form action="{{url_for('add_user')}}" method="post">
            <div class="field">
                <label class="subtitle"> First Name
                    <input class="input" type="text" name="rfname" value="{{fname}}">
                </label>
            </div>
            <div class="field">
                <label class="subtitle"> Last Name
                    <input class="input" type="text" name="rlname" value="{{lname}}">
                </label>
            </div>
            <div class="field">
                <label class="subtitle"> Email
                    <input class="input" type="text" name="remail" value="{{email}}">
                </label>
            </div>
            <div class="field">
                <label class="subtitle"> Phone Number
                    <input class="input" type="text" name="rpnum" value="{{pnum}}">
                </label>
            </div>
            <div class="field">
                <label class="subtitle"> Password
                    <input class="input" type="password" name="rpwd">
                </label>
            </div>
            <div class="field">
                <label class="subtitle"> Confirm Password
                    <input class="input" type="password" name="rcpwd">
                </label>
            </div>
            <div class="field">
                <button class="button is-success is-rounded" type="submit">Create Account</button>
            </div>
        </form>
{% endblock %}