<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tranquil Soul</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Schedule Appointment</h1>
    <form>
        <div>
            <label> First Name
                <input type="text">
            </label>
        </div>
        <div>
            <label> Last Name
                <input type="text">
            </label>
        </div>
        <div>
            <label> Phone Number
                <input type="text">
            </label>
        </div>
        <div>
            <label> Email
                <input type="text">
            </label>
        </div>
        <div>
            <label> Date
                <input type="date">
            </label>
        </div>
        <div>
            <label> Time
                <input type="time">
            </label>
        </div>
        <div>
            <label> Recieve Text and Email reminders?
                <input type="radio"> Yes
            <input type="radio"> No
        </label>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>