<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tranquil Soul</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Schedule Appointment</h1>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <form action="{{url_for('add_appt')}}" method="post">
        <div>
            <label> Date
                <input type="date" name="date">
            </label>
        </div>
        <div>
            <label> Time
                <input type="time" name="time">
            </label>
        </div>
        <div>
            <label> Recieve Text and Email reminders?
                <input type="radio"> Yes
            <input type="radio"> No
        </label>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>