<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <title>Tranquil Soul</title>
</head>
<body>
    <h1>Welcome to Yoga</h1>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div>
        <a href="{{url_for('view')}}">
            <button>View Appointments</button>
        </a>
    </div>
    <div>
        <a href="{{url_for('render_form')}}">
            <button>Create New</button>
        </a>
    </div>
</body>
</html>