<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <title>Tranquil Soul</title>
</head>
<body>
    <h1>Welcome to Yoga</h1>
    <div>
        <a>
            <button>View Appointments</button>
        </a>
    </div>
    <div>
        <a href="{{url_for('render_form')}}">
            <button>Create New</button>
        </a>
    </div>
    <div>
        <a href="{{url_for('login')}}">
            <button>Login</button>
        </a>
    </div>
    <div>
        <a href="{{url_for('create_account')}}">
            <button>Create Account</button>
        </a>
    </div>
</body>
</html>