<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Login</h1>
        <form action="{{url_for('user_auth')}}" method="post">
            <div> Email
                <label>
                    <input type="text" name="lemail">
                </label>
            </div>
            <div>
                <label> Password
                    <input type="text" name="lpwd">
                </label>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <div>
            <span>Don't have an account?</span>
            <a href="{{url_for('create_account')}}"> Create One Here! </a>
        </div>
    </body>
</html>