<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <title>Tranquil Soul</title>
</head>
<body>
    <h1>Welcome to Yoga</h1>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div>
        <h2>Active Users:</h2>
        <ul>
            {%for d in user_data%}
                <li>{{d[1]}} {{d[2]}}</li>
            {% endfor %}
        </ul>

    </div>
    <div>
        <label>Appointments</label>
        <ol>
            {% for a in appts %}
                <li>{{a}}</li>
            {% endfor %}

        </ol>


    </div>
    <div>
        <a href="{{url_for('render_form')}}">
            <button>Create New</button>
        </a>
    </div>

</body>
</html>